body {
    background: url(./images/gif/background.gif);
    background-size: cover;
    background-attachment: fixed;
}

.mainpic {
    margin-top: 5px;
    margin-left: 16px;
    margin-bottom: 5px;
    border-radius: 50%;
}
.active {
    filter: brightness(0.5);
    filter: blur(2px);
}

.slider {
    display: flex;
}

#banner {
    background: rgb(245, 166, 97, 0.7);
    height: 250px;
    border-radius: 100px 0px 0px 100px;
    display:flex;
    margin-right: -50px;
   
}
div h1 {
    left: 18%;
    top: 10px;
}

#banner ul {
    left: 16%;
    top: 60px;
}